/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

canvas {
  width: 100%;
  height: 100%;
}

/* App.css */
.canvas-container {
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.color-picker {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.leva-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.swal-custom-position {
  position: absolute !important;
  left: 70% !important; /* Adjust this value to move the modal horizontally */
  top: 5% !important; /* Adjust this value to move the modal vertically */
  transform: translate(-50%, -50%) !important;
}

.swal-custom-arrow {
  position: absolute;
  top: 50%; /* Position the arrow in the middle vertically */
  left: -14px; /* Position the arrow to the left of the modal */
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid white; /* Adjust the color to match your modal background */
}



